{% extends "Layouts/base.html.twig" %}

{% block title %}Topic{% endblock %}

{% block content %}
    <section class="topic">

        <div class="reg-pict" style="background-image: url({{ asset('images/pict7.jpg') }}); height: 100vh; width: 100%; background-size: cover;">
            <div class="container">
                <br />
                <h1 style="color: whitesmoke;">Thèmes</h1><br />

                {% for topic in topics %}
                    <h4>
                        <a href="{{ path('topic', 'get', {'id': topic.id}) }}">{{ topic.label }}</a>
                    </h4>
                    <hr>
                {% endfor %}<br/>

                <h3><a href="{{ path('new_topic', 'get') }}" style="float: right;">Créer un nouveau topic</a></h3>
            </div>
        </div>

    </section>
{% endblock %}
