{% extends "Layouts/base.html.twig" %}

{% block content %}
    <section class="topic">

        <div class="reg-pict" style="background-image: url({{ asset('images/pict8.jpg') }}); height: 100vh; width: 100%; background-size: cover;">
            <div class="container">
                <br />
                <h1>Nouveau thème</h1>
                <div class="col-lg-offset-3 col-lg-6">
                    {{ include('Form/base_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}