* {
    padding: 0;
    margin: 0;
}

.base-form {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    width: 100%;
    text-align: center;
    padding: 90px;
    margin-top: 150px;
    border: 1px solid #525252;
}

.topic-form label {
    color: whitesmoke;
    margin-top: 15px;
    font-size: 17px;
}

.topic input {
    width: 100%;
}

.button-style {
    margin-top: 30px;
    padding: 8px 12px;
    background-color: transparent;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    width: auto;
}

.base-form label {
    color: whitesmoke;
    margin-top: 15px;
    font-size: 17px;
}

.base-form .form-but {
    margin-top: 30px;
    padding: 8px 12px;
    background-color: transparent;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 3px;
}

.base-form .form-but:hover {
    color: #0f0f0f;
    background-color: whitesmoke;
}

.base-form .form-input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2px 5px;
    color: whitesmoke;
    border-radius: 2px;
    border: 1px solid whitesmoke;
    margin-top: 5px;
}

.reg-pict h1 {
    font-size: 45px;
}

html {
    background-color: #4c4c4c;
}

.clear {
  clear: both;
}

#header {
    height: 53px;
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #131313 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

footer {
    height: 100px;
    background: #131313; /* Old browsers */
    background: -moz-linear-gradient(top, #131313 2%, #4c4c4c 98%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #131313 2%,#4c4c4c 98%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #131313 2%,#4c4c4c 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    text-align: center;
}

footer ul {
    display: -webkit-inline-box;
    list-style-type: none;
}

footer ul li {
    margin: 18px 20px 10px 20px;
    color: whitesmoke;
}

footer p {
    color: whitesmoke;
}

footer a {
    color: grey;
}

footer ul li a {
    color: whitesmoke;
}

footer ul li a:hover {
    color: lightslategrey;
}

hr {
    border-color: #ccc;
}

.nav li a {
    color: whitesmoke;
}

.nav li a:hover {
    color: #4c4c4c;
}

section {
    min-height: 100vh;
}

section.register {
    position: relative;
    background-color: whitesmoke;
    height: 100%;
}

section.topic {
    background-color: #fafafa;
}

section.topic a {
    color: white;
}