{% extends "Layouts/base.html.twig" %}

{% block title %}Registration{% endblock %}

{% block content %}
    <ul id="navigation">

    </ul>

    <section class="register">
        <div class="reg-pict" style="background-image: url({{ asset('images/pict1.jpg') }}); height: 100vh; width: 100%; background-size: cover;">

            <h1>Registration</h1>
        
            {{ include('Form/base_form.html.twig') }}

        </div>
    </section>
{% endblock %}