{% extends "Layouts/base.html.twig" %}

{% block title %}Liste des QCMs{% endblock %}

{% block content %}
    <section class="qcm">
        <div class="reg-pict" style="background-image: url({{ asset('images/pict6.jpg') }}); height: 100vh; width: 100%; background-size: cover;">
        <div class="container">
            <h1>Liste des QCMs</h1><br />
            {% for qcm in qcms %}

                <a href="{{ path('student_qcm', 'get', {'id': qcm.id}) }}">
                    {% if loop.first %}
                        <div class="line line-first">
                    {% else %}
                        <div class="line">
                    {% endif %}
                    <h4 class="title">
                        {{ qcm.description }}
                    </h4>
                </div>
                </a>

            {% endfor %}
        </div>
        </div>
    </section>

{% endblock %}