<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="{{ asset("css/style.css") }}" />
            <link rel="stylesheet" href="{{ asset("css/bootstrap.css") }}" />
            <title>{% block title %}{% endblock %} - QCM Eval</title>
        {% endblock %}
    </head>
    <body>
        <div id="header">
            <ul id="navigation">

            </ul>
        </div>

        {% block content %}{% endblock %}
        
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2011 by <a href="http://domain.invalid/">QCM Eval</a>.
            {% endblock %}
        </div>
    </body>
</html>